.map-section {
  width: 80% !important;
  height: 400px !important;
}
.gone {   text-decoration: line-through; }

p { margin: 0 !important; }

.context-menu {
  display: inline-block;
}

.Select-control {
  width: 50% !important;
}